body {
  background: black; /*#0e0e0e;*/
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0px;
  text-align: center;
}

img {
  display: block;
  width: 110%;
  margin-left: -5%;
}

.container {
  margin: 30px auto;
  margin-top: 90px;
  width: 50%;
  overflow: hidden; /* hides scrollbar */
  position: relative;
}

.scene {
  margin: 0;
  padding: 0;
}

.expand-width {
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  top: 0px;
  width: 100%;
}

button {
  background: transparent;
  color: #bbbbbb;
  font-family: "Lato", sans-serif;
  font-style: italic;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: #61e6d9;
  transition: 0.3s;
}

.navbar .selected {
  color: #0f97ff;
  transition: 0.3s;
}

.title {
  padding: 6px;
  font-weight: 400;
  font-style: italic;
}

.label {
  font-weight: 300;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.artist {
  color: #9e9e9e;
  margin: 0px auto;
}

.painting-title {
  font-family: "Lora", cursive;
  font-style: italic;
  margin: 5px auto;
}

.pt-page {
  display: none;
}

.active {
  display: block;
}

#wanderer .container {
  width: 30%;
}

#guernica .container {
  width: 70%;
}

#about {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-info {
  font-family: "Lato", sans-serif;
  width: 40%;
  min-width: 300px;
  margin: auto;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}

.about-info h3 {
  color: #0f97ff;
  margin-top: 50px;
  font-weight: 600;
}

.about-info li {
  text-align: left;
}

a {
  color: #61e6d9;
}

.full-screen {
  margin: auto;
  max-height: 100vh;
  width: auto !important;
}

/* defined by the aspect ratios of the paintings */
#starry .full-screen {
  max-width: 133vh;
}

#guernica .full-screen {
  max-width: 200vh;
}

#wanderer .full-screen {
  max-width: 72vh;
}

.full-screen-btn {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-style: normal;
  font-size: small;
  margin-left: 5px;
  padding: 0;
}

.wrapper {
  display: flex;
}

