body {
  background: #0e0e0e;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0px;
}

img {
  display: block;
  width: 110%;
  margin-left: -5%;
}

.container {
  margin: 30px auto;
  margin-top: 90px;
  width: 50%;
  overflow: hidden; /* hides scrollbar */
}

.scene {
  margin: 0;
  padding: 0;
}

.expand-width {
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  top: 0px;
  width: 100%;
}

.navbar button {
  background: transparent;
  color: #cccccc;
  font-family: "Lato", sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: #61e6d9;
  transition: 0.3s;
}

.navbar .selected {
  color: #0f97ff;
  transition: 0.3s;
}

.title {
  padding: 6px;
  font-weight: 400;
  font-style: italic;
}

.label {
  font-weight: 300;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.artist {
  color: #9e9e9e;
  margin: 0px auto;
}

.painting-title {
  font-family: "Lora", cursive;
  font-style: italic;
  margin: 5px auto;
}

.pt-page {
  display: none;
}

.active {
  display: block;
}

#wanderer .container {
  width: 30%;
}

#guernica .container {
  width: 80%;
}


